@import "tailwindcss";

@theme {
  --color-primary: rgb(250, 204, 21);
}

@layer base {
  body {
    @apply bg-[#0a0a0a] text-gray-300 antialiased;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
  }
}
